#pyvil_remember_container, #pyvil_images_container{
    text-align: center;
    display: none;
}

#pyvil_remember_container img, #pyvil_images_container img {
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
}

.lol-button{
    display: none;
}

.check {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(114,184,100,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(114,184,100,1);
    box-shadow: 0px 0px 15px 0px rgba(114,184,100,1);
}

.uncheck{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(168,24,31,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(168,24,31,1);
    box-shadow: 0px 0px 15px 0px rgba(168,24,31,1);
}