@font-face {
    font-family: 'Cubano-Regular';
    src : url(font/Cubano-Regular.otf);
}

@font-face {
    font-family: 'Existence-Light';
    src : url(font/Existence-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Existence-Light';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    /*height: 100%;*/
    font-size: 57px;
}

body#levels{
    background: url(../img/back_levels.png) #fff no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body#images{
    background: url(../img/back_all.png) #fff no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div::after {
    display: table;
    content: ' ';
    clear: both;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

p.lead {
    font-size: 100%;
    text-align: center;
    color: #000;
}

p.levelPrev {
    margin-bottom: 10px;
}

p.allItems {
    margin-bottom: 10px;
}

#pyvil_level_container  {
    width: 70%;
    position: relative;
    margin-top: 13%;
}

#pyvil_images_container {
    width: 100%;
    height: 100%;
}

#pyvil_remember_container, #pyvil_images_container{
    text-align: center;
    display: none;
    margin: 0 auto;
}

#pyvil_images_container img{
    width: 165px;
    /*margin: 10px 55px;*/
}

#pyvil_remember_container img{
    /*margin: 17px 8px;*/
    width: 210px;
}

#pyvil_remember_container img, #pyvil_images_container img {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
}

.level_list_bg{
    width: 100%;
    max-width: 1300px;
}

.level_list_bg img{
    width: 100%;
    z-index: -1000;
}

.pyvil_level_list {
    position: relative;
}

.pyvil_level_list a{
    font-family: 'Cubano-Regular';
    font-size: 100%;
    padding: 10px;
    border-radius: 50%;
    color: #000;
    margin: 10px;
    z-index: 2000;
    position: absolute;
    /*vertical-align: middle;
    display: table;*/
    text-align: center;
}

#level-1{
    /*top: 10px;*/
    left: 4%;
    
    
    margin-top: 2%;
}

#level-2{
    /* top: 135px; */
    margin-top: 16%;
    left: 13%;
}

#level-3{
    left: 20%;
    margin-top: 5%;
    /* top: 20px; */
    
    
    font-size: 50px;
}

#level-4{
    
    
    left: 28%;
    /* top: 115px; */
    margin-top: 14%;
}

#level-5{
    
    
    margin-top: 17%;
    left: 41%;
    /* top: 148px; */
    font-size: 50px;
}

#level-6{
    
    
    left: 51%;
    margin-top: 9%;
    /* top: 61px; */
    font-size: 50px;
}

#level-7{
    left: 63%;
    margin-top: 6%;
    /* top: 33px; */
    font-size: 50px;
}

#level-8{
    left: 67%;
    margin-top: 16%;
    /* top: 131px; */
    font-size: 43px;
}

#level-9{
    
    
    left: 75%;
    margin-top: 19%;
    /* top: 161px; */
    font-size: 43px;
}

#level-10{
    
    
    left: 75%;
    margin-top: 28%;
    /*top: 265px;*/
    font-size: 30px;
}

.lol-button{
    display: none;
}

.start-test{
    font-size: 100%;
    color: #000;
    padding: 25px;
    border-radius: 50%;
    border: 1px solid #945fa8;
    display: inline-block;
}

.check {
    background: #fff200 no-repeat;
    background-position: 6px 6px;
    border-width: 1px;
}

.uncheck{
    /*border: 7px solid #ef4c5d !important;*/
    background: #ef4c5d no-repeat;
    background-position: 6px 6px;
    border-width: 1px;
}

.popup {
    max-width: 620px;
    max-height: 620px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-family: 'Existence-Light';
    font-size: 100%;
    text-transform: uppercase;
    position: fixed;
    z-index: 9001;
    left: 0;
    top: 0;
    display: table;
}

.popup span {
    vertical-align: middle;
    display: table-cell;
    -ms-word-break: break-all;
    word-break: break-all;
}

.shadow, .shadow-screen {
    background: rgba(255,255,255, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

.screen{
    width: 300px;
    height: 300px;
    position: fixed;
    display: none;
    z-index: 9001;
}

.screen img {
    width: 100%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width: 620px) {
    .popup{
        height: 60%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width: 767px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) and (max-width: 1367px) {

}

@media only screen and (min-width : 1368px) {
    .container {
        max-width: 100%;
    }

}