@font-face {
    font-family: 'Cubano-Regular';
    src : url(font/Cubano-Regular.otf);
}

@font-face {
    font-family: 'Existence-Light';
    src : url(font/Existence-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Existence-Light';
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

body#levels{
    background: url(../img/back_levels.png) #fff no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body#images{
    background: url(../img/back_all.png) #fff no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div::after {
    display: table;
    content: ' ';
    clear: both;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

p.lead {
    font-size: 57px;
    text-align: center;
    color: #000;
}

p.levelPrev {
    margin: 140px 0;
}

p.allItems {
    margin: 50px 0;
}

#pyvil_level_container  {
    width: 100%;
    height: 100%;
}

#pyvil_images_container {
    width: 100%;
    height: 100%;
}

#pyvil_remember_container, #pyvil_images_container{
    text-align: center;
    display: none;
    margin: 0 auto;
}

#pyvil_images_container img{
    width: 134px;
    margin: 10px 55px;
}

#pyvil_remember_container img{
    margin: 35px 17px;
    width: 210px;
}

#pyvil_remember_container img, #pyvil_images_container img {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
}


.pyvil_level_list a{
    font-family: 'Cubano-Regular';
    font-size: 53px;
    padding: 10px;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    margin: 10px;
}

.lol-button{
    display: none;
}

.start-test{
    font-size: 57px;
    color: #000;
    padding: 25px;
    border-radius: 50%;
    border: 1px solid #945fa8;
    margin-top: 140px;
    margin-bottom: 80px;
    display: inline-block;
}

.check {
    /*border: 7px solid #fff200 !important;*/
    background: #fff200 no-repeat;
    background-position: 6px 6px;
    border-width: 1px;
}

.uncheck{
    /*border: 7px solid #ef4c5d !important;*/
    background: #ef4c5d no-repeat;
    background-position: 6px 6px;
    border-width: 1px;
}

.popup {
    width: 373px;
    max-height: 350px;
    border-radius: 50%;
    padding: 150px 50px;
    text-align: center;
    color: #fff;
    font-family: 'Existence-Light';
    font-size: 57px;
    text-transform: uppercase;
    position: fixed;
    z-index: 9001;
    left: 0;
    top: 0;
}

.shadow {
    background: rgba(255,255,255, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width: 479px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width: 767px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) and (max-width: 1367px) {

}

@media only screen and (min-width : 1368px) {
    .container {
        max-width: 1500px;
    }

    #pyvil_images_container img{
        width: 134px;
    }

    #pyvil_remember_container img{
        width: 210px;
    }
}